@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(
      to left top,
      #4cc2ae,
      #67d1b2,
      #83e1c8,
      #a0f0de,
      #bdfff3,
      #a0f0de,
      #83e1c8,
      #67d1b2,
      #4cc2ae
    );

    --background: 150, 100%, 98%;
    --foreground: 240 10% 3.9%;
    --card: 150, 100%, 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 150, 100%, 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 170 49% 53%;
    --primary-foreground: 170 4.9% 5.300000000000001%;
    --secondary: 169.79, 43.52%, 42.35%;
    --secondary-foreground: 170 4.9% 97.65%;
    --muted: 164, 61%, 70%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 169.79, 43.52%, 42.35%;
    --accent-foreground: 170 4.9% 97.65%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 162, 54%, 61%;
    --input: 162, 54%, 61%;
    --ring: 188 53% 55%;
    --radius: 0.5rem;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(
      to left top,
      #071714,
      #17342f,
      #23544c,
      #30776a,
      #3d9b8b,
      #30776a,
      #23544c,
      #17342f,
      #071714
    );

    --background: 170 31.849999999999998% 4.24%;
    --foreground: 170 4.9% 97.65%;

    --muted: 170 24.5% 15.9%;
    --muted-foreground: 170 4.9% 55.3%;

    --popover: 170 55.2% 5.83%;
    --popover-foreground: 170 4.9% 97.65%;

    --card: 170 55.2% 5.83%;
    --card-foreground: 170 4.9% 97.65%;

    --border: 170 24.5% 15.9%;
    --input: 170 24.5% 15.9%;

    --primary: 170 49% 53%;
    --primary-foreground: 170 4.9% 5.300000000000001%;

    --secondary: 170 24.5% 15.9%;
    --secondary-foreground: 170 4.9% 97.65%;

    --accent: 170 24.5% 15.9%;
    --accent-foreground: 170 4.9% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 170 4.9% 97.65%;

    --ring: 170 49% 53%;

    --radius: 0.5rem;
  }

  .bg-gradient-animation {
    background-image: var(--gradient);
    animation: bg-animation 20s infinite;
  }

  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }

  *::-webkit-scrollbar {
    /* -webkit-appearance: none; */
    width: 0.625rem;
    height: 0.625rem;
  }

  *::-webkit-scrollbar-track {
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3d9b8b;
    border-radius: 9999px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
