@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 188 53% 55%;
    --primary-foreground: 188 5.300000000000001% 5.5%;
    --secondary: 188 26.5% 16.5%;
    --secondary-foreground: 188 5.300000000000001% 97.75%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 188 53% 55%;
    --radius: 0.5rem;
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #50c9c3, #96deda);

    --background: 188 34.45% 4.4%;
    --foreground: 188 5.300000000000001% 97.75%;

    --muted: 188 26.5% 16.5%;
    --muted-foreground: 188 5.300000000000001% 55.5%;

    --popover: 188 54.4% 7.15%;
    --popover-foreground: 188 5.300000000000001% 97.75%;

    --card: 188 54.4% 7.15%;
    --card-foreground: 188 5.300000000000001% 97.75%;

    --border: 188 26.5% 16.5%;
    --input: 188 26.5% 16.5%;

    --primary: 188 53% 55%;
    --primary-foreground: 188 5.300000000000001% 5.5%;

    --secondary: 188 26.5% 16.5%;
    --secondary-foreground: 188 5.300000000000001% 97.75%;

    --accent: 188 26.5% 16.5%;
    --accent-foreground: 188 5.300000000000001% 97.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 188 5.300000000000001% 97.75%;

    --ring: 188 53% 55%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
